<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rodrigodominguez.tindermotionlayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".scenes.TinderScene10Activity" />
        <activity android:name=".scenes.TinderScene9Activity" />
        <activity android:name=".scenes.TinderScene8Activity" />
        <activity android:name=".scenes.TinderScene7Activity" />
        <activity android:name=".scenes.TinderScene6Activity" />
        <activity android:name=".scenes.TinderScene5Activity" />
        <activity android:name=".scenes.TinderScene4Activity" />
        <activity android:name=".scenes.TinderScene3Activity" />
        <activity android:name=".scenes.TinderScene2Activity" />
        <activity android:name=".scenes.TinderScene1Activity" />
        <activity android:name=".rotationcard.RotationCardActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>